name: high_chart
description: A chart library based on High Charts (.JS), able to build advanced
  charts like Pie chart, linear chart, etc.
version: 2.1.0
homepage: https://github.com/senthilnasa/high_chart

environment:
  sdk: '>=3.8.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  web: ^1.1.1
  url_launcher: ^6.3.1

  webview_flutter: ^4.13.0
  webview_flutter_android: ^4.7.0
  webview_flutter_wkwebview: ^3.22.0


dev_dependencies:
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: me.senthilnasa.high_chart
        pluginClass: HighChartPlugin
      ios:
        pluginClass: HighChartPlugin
      web:
        pluginClass: HighChartPlatformInterface
        fileName: high_chart_web.dart
